header{
  padding: 10px;
}

.container{
  margin: 0 auto;
  width: 50%;
}

ul{
  list-style-type: none;
}

.links{
  display:inline-block;
}

#link-item{
  display:inline-block;
  padding: 15px;
}

.skill-bars{
  height:24px;
}

.small-bar{
  width:20%;
}

.low-bar{
  width:25%;
}

.medium-bar{
  width:50%;
}

.high-bar{
  width:75%;
}

.full-bar{
  width:100%;
}

.rodape{
  text-align: center;
}